<h1>New booking for <%= @room.name %></h1>

<%= form_with model: @booking, url: room_bookings_path do |form| %>

  <%= render partial: 'form', locals: { f: form } %>

<% end %>

<%= link_to 'Back', room_bookings_path %>